.loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid #ffe66d;
    border-top: 20px solid red;
    animation: spinAnimate 0.5s ease-in-out 0s infinite normal;
}
@keyframes spinAnimate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}